main {
  padding-top: 50px;  
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.images-buffer {
  display: none;
}

.game-ui {
  padding: 25px;
  border: 1px solid dimgray;
  border-radius: 15px;
}

.game-ui__avatar img{
  width: 200px;
  height: 200px;
}
.game-ui__inventory span{
  padding: 10px;
}