.gameOverContainer {
    background: linear-gradient(
        90deg,
        rgba(24, 161, 203, 1) 0%,
        rgba(255, 255, 255, 1) 35%,
        rgba(255, 255, 255, 1) 65%,
        rgba(253, 172, 0, 1) 100%
    );

    width: 818px;
    height: 553px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 10;
}

.gameOver {
    text-align: center;
    line-height: 40px;
    font-size: 28px;
    padding: 25px 0 0 0;
    color: #fdac00;
    text-shadow: 0 0 5px #7f0000;
    font-family: 'Press Start 2P', cursive;
}

.startGameButtonContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2em;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 2em;
}

.startGameButton {
    color: #7f0000;
    font-size: 28px;
    font-family: 'Press Start 2P', cursive;
    border: 2px solid #7f0000;
    border-radius: 20px;
    padding: 0.5em;
    cursor: pointer;
}
.startGameButton:hover {
    color: white;
    background-color: #7f0000;
}
